.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
    width: 159px;
    margin-top: 10px;
}

.mat-icon {
    font-size: 20px;
}

.mat-card {
    box-shadow: 2px 2px 2px !important;
    border: 1px solid lightgrey;
}