<mat-card fxLayout="column" fxLayoutGap = "3%" fxFlexFill>
    <div class= "mat-title" style="border-bottom: 1px solid lightgray;font-weight: bold;">Shivamogga - 18/12/2000</div>
    <div fxFlex = "98">
        <app-carousel [slides]="slides"  [carouselSlideStyle]="carouselSlideStyle"></app-carousel>
    </div>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap = "3%">
        <div fxFlex="25"> 
            <div>
              <img  class="avathar" src="../../../assets/download.jpg" height="300px" width="100%">
            </div>
         </div>
         <div fxFlex> 
             Shimoga (Shivamogga) is a city in Karnataka state, southwest India. Shivappa Nayaka Palace Museum has 16th- to 18th-century stone carvings displayed on its lawns. Nearby is the huge, modern Sacred Heart Cathedral. Mandagadde Bird Sanctuary is home to species such as egrets and cormorants. The Bhadra Wildlife Sanctuary shelters elephants, tigers and panthers. Northwest of Shimoga are the powerful, towering Jog Falls. 
             Shimoga (Shivamogga) is a city in Karnataka state, southwest India. Shivappa Nayaka Palace Museum has 16th- to 18th-century stone carvings displayed on its lawns. Nearby is the huge, modern Sacred Heart Cathedral. Mandagadde Bird Sanctuary is home to species such as egrets and cormorants. The Bhadra Wildlife Sanctuary shelters elephants, tigers and panthers. Northwest of Shimoga are the powerful, towering Jog Falls. 
             Shimoga (Shivamogga) is a city in Karnataka state, southwest India. Shivappa Nayaka Palace Museum has 16th- to 18th-century stone carvings displayed on its lawns. Nearby is the huge, modern Sacred Heart Cathedral. Mandagadde Bird Sanctuary is home to species such as egrets and cormorants. The Bhadra Wildlife Sanctuary shelters elephants, tigers and panthers. Northwest of Shimoga are the powerful, towering Jog Falls. 
             Shimoga (Shivamogga) is a city in Karnataka state, southwest India. Shivappa Nayaka Palace Museum has 16th- to 18th-century stone carvings displayed on its lawns. Nearby is the huge, modern Sacred Heart Cathedral. Mandagadde Bird Sanctuary is home to species such as egrets and cormorants. The Bhadra Wildlife Sanctuary shelters elephants, tigers and panthers. Northwest of Shimoga are the powerful, towering Jog Falls. 
             Shimoga (Shivamogga) is a city in Karnataka state, southwest India. Shivappa Nayaka Palace Museum has 16th- to 18th-century stone carvings displayed on its lawns. Nearby is the huge, modern Sacred Heart Cathedral. Mandagadde Bird Sanctuary is home to species such as egrets and cormorants. The Bhadra Wildlife Sanctuary shelters elephants, tigers and panthers. Northwest of Shimoga are the powerful, towering Jog Falls. 
             Shimoga (Shivamogga) is a city in Karnataka state, southwest India. Shivappa Nayaka Palace Museum has 16th- to 18th-century stone carvings displayed on its lawns. Nearby is the huge, modern Sacred Heart Cathedral. Mandagadde Bird Sanctuary is home to species such as egrets and cormorants. The Bhadra Wildlife Sanctuary shelters elephants, tigers and panthers. Northwest of Shimoga are the powerful, towering Jog Falls. 
             Shimoga (Shivamogga) is a city in Karnataka state, southwest India. Shivappa Nayaka Palace Museum has 16th- to 18th-century stone carvings displayed on its lawns. Nearby is the huge, modern Sacred Heart Cathedral. Mandagadde Bird Sanctuary is home to species such as egrets and cormorants. The Bhadra Wildlife Sanctuary shelters elephants, tigers and panthers. Northwest of Shimoga are the powerful, towering Jog Falls. 
         </div>
    </div>
   
</mat-card>
